*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 800px;
    margin: auto;
}

header{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: rgb(39, 145, 231);
}

