*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 800px;
    margin: auto;
    font-family: 'Merriweather', serif;;
}

header{
    height: 80px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: rgb(39, 145, 231);
    margin-bottom: 10px;
    position: relative;
}

header img{
    position: absolute;
    bottom: 0;
    margin-left: 5px;
}

.sottotitolo{
    color: rgb(156, 156, 156);
}

h2.sottotitolo{
    font-size: 15px;
    margin-top: 10px;
}

h3.sottotitolo{
    font-size: 12px;
}

.sottotitolo>span{
    color: rgb(0, 162, 255);
}

main img{
    height: 280px;
    margin-top: 15px;
}

.didascalia{
    font-size: 12px;
}

main p{
    margin-top: 15px;
    margin-bottom: 20px;
}

p span{
    background-color: yellow;
}

ul {
    padding-left: 0;
    margin-left: 18px;
    margin-bottom: 20px;
}

table{
    width:100%;
    table-layout:fixed;
}

.head{
    background-color: rgb(31, 121, 206);
    color: white;
}

.colored{
    background-color: rgb(124, 206, 206);
}