*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 800px;
    margin: auto;
    font-family: 'Merriweather', serif;;
}

header{
    height: 80px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: rgb(39, 145, 231);
    margin-bottom: 10px;
}

.sottotitolo{
    color: rgb(156, 156, 156);
}

h2.sottotitolo{
    font-size: 15px;
    margin-top: 10px;
}

h3.sottotitolo{
    font-size: 12px;
}

.sottotitolo>span{
    color: rgb(0, 162, 255);
}

main img{
    height: 280px;
    margin-top: 15px;
}

.didascalia{
    font-size: 12px;
}

main p{
    margin-top: 15px;
    margin-bottom: 20px;
}

p span{
    background-color: yellow;
}

ul {
    /* list-style-type: none; */
    padding-left: 0;
    margin-left: 18px;
    margin-bottom: 20px;
}
/* .pseudotabella>span{
    width: 250px;
} */

table{
    /* table-layout: fixed;
    column-width: 200px; */
    border:1px solid;
    width:100%;
    height:auto;
    border-collapse: collapse;
    table-layout:fixed;
}